.contenedor-request {
    width: 100%;
}

.request {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.metodo {
    width: 10%;
}

.metodo select {
    width: 100%;
    padding: 10px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}

.url {
    width: auto;
    flex-grow: 1; 
}

.url input{
    width: 100%;
    height: 15px;  
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}

.boton {
    width: 10%;
}

button {
    height: 35px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
}